{% extends 'base.html.twig' %}

{% block title %}Création d'ouvrage{% endblock %}

{% block body %}
    <div classe="container">
        <h1>Création d'un ouvrage</h1>
        <hr>
        <br>
        {{ form(form) }}
    </div>
{% endblock %}